* {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
    color: darkblue;
}

h2 {
    margin-top: 32px;
    margin-bottom: 8px;
}

h3 {
    margin-top: 24px;
    margin-bottom: 6px;
}

h4 {
    margin-top: 16px;
    margin-bottom: 4px;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.input {
    background-color: lightgray;
    color: black;
}

div.genero {
    margin-left: 20px;
}

